* {
  box-sizing: border-box;
  margin: 0 0;
}
body {
  background-color: beige;
}

#inputBox {
  text-align: center;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  background-color: rgb(104, 100, 100, 0.5);
}

#inputBox > #messageInput {
  border-radius: 5px;
  width: 50px;
  transition: all 0.3s ease-in-out;
}

#inputBox > #messageInput:hover {
  background-color: rgb(167, 230, 148);
}

#inputBox > #messageInput:focus {
  background-color: rgb(167, 230, 148);
  width: 200px;
}
#inputBox > button {
  width: 60px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

#inputBox > button:hover {
  background-color: crimson;
  border: 1px solid black;
}
