* {
  box-sizing: border-box;
  margin: 0 0;
}
body {
  background: linear-gradient(to bottom right, #fff8e1, #e6c9a8);
  text-align: center;
}
#bull {
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: blanchedalmond 1px dotted;
  background-color: deeppink;
  font-weight: 900;
}
.hi {
  background: linear-gradient(to bottom right, #e1fffb, #27cf70);
}
